analysis_results/
dataset.zip
dataset/
dataset_back/
experiments/
pytorch_river_seg.zip
src/.DS_Store
src/__pycache__/
src/analysis/__pycache__/
src/data/__pycache__/
src/experiments/__pycache__/
src/models/__pycache__/
src/training/__pycache__/
src/utils/__pycache__/
src_back/
test_checkpoints/
test_data/
venv/

